body{
	margin : 0px;
	padding : 0px;
}
.canvas {
	height : 600px;
	width : 1000px;
	margin : 2px;
	border : solid black 1px;
	position : absolute;
}
#toolContainer {
	position : absolute;
	left  : 1006px;
	top : 352px;
	width : 350px;
}
#baseCanvas {
	z-index : 0;
}
#spaceList {
	position : absolute;
	top : 2px;
	left : 1006px;
	width : 350px;
	margin : 0px;
	/*border : solid red 1px;*/
	padding : 0px;
}
#help_text{
	text-align : center;
	bottom : 0px;
	width : 340px;
	border : solid #b8b8b8 1px;
	padding : 5px;
}
#addSpaceForm{
	width : 350px;
	margin : 0px;
	border : solid #b8b8b8 1px;
	text-align : right;
}
#spaceName{
	width : 100px;
}
#spaceSize, #spaceArea{
	width : 50px;
}
.formElements{
	margin : 5px;
}
#listTable{
	border-collapse : collapse;
}
#tableHeader{
	background-color : black;
	color : white;
	font-size : 14px;
	font-weight : bold;
	text-align : center;
}
#tableHeader{
	height : 20px;
}
.spaceColorData{
	width : 25px;
	margin : 0px;
}
.spaceSizeData{
	width : 35px;
	height : 20px;
	margin : 0px;
	cursor : pointer;
}
.spaceAreaData{
	width : 50px;
	height : 20px;
	margin : 0px;
	cursor : pointer;
}
.spaceNameData{
	width : 50px;
	height : 20px;
	text-align : center;
	margin : 0px;
}
.canvas2{
	position : absolute;
	/*border : solid black 1px;*/
}